body{
        background-color: #1d1d1d;
}

.chat-container {
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow-y: scroll;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 2;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    max-width: fit-content;
}

.bot {
    background-color: #abafe2;
    color: #333;
}

.ongoing {
    background-color: #7b7ea5;
}

li strong {
    font-size: 0.9rem;
    color: #333;
}

li em {
    font-size: 0.8rem;
    color: #666;
}

.chat-input {
    padding: 10px;
    background: #f9f9f9;
    border-top: 1px solid #ddd;
}

.chat-input form {
    display: flex;
    gap: 10px;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background: #fff;
    color: #333;
}

.chat-input button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-input button:hover {
    background-color: #212121;
}